body,
html {
  margin: 0;
  height: 100%;
}
.bg-image{

  text-align: center;
  background-color: #d68060;
  background-image: url("../images/dice-background-img.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
}
.transparency{
  background: rgba(255, 255, 255, 0.3);
  height: 100%;
}
.main-heading{
  color: #0a043c;
  font-size: 7.5rem;
  font-weight: bolder;
  padding-top: 2rem;
  /* margin: 0 0  0; */
  font-family: 'Indie Flower', cursive;
}
.hand{
  margin: 3.3rem auto;
  font-size: 5rem;
}
.player-name{
  font-family: 'Indie Flower', cursive;
}

.dice{
  margin: 1.5rem 7%;
  text-align: center;
  display: inline-block;
}

.toss .names{
  font-family:sans-serif;
  margin: 5px;
}
